<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="http://lvh.me:3000/homes">Domain Root</a>
    <a class="navbar-brand" href="<%= homes_path %>">Home</a>
    <a class="navbar-brand" href="<%= messages_path %>">Messages</a>
    <a class="navbar-brand" href="<%= tenants_path %>">Tenants</a>
    <a class="navbar-brand" href="<%= users_path %>">Users</a>
    <span> ---post apartment setup--- </span>
    <a class="navbar-brand" href="<%= projects_path %>">Projects</a>
  </div>
</nav>